<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
</head>
<body>
<style>
    .layui-card-header{
        text-align: right;
    }
    .layui-table-page>div{
        text-align: center;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" align="left">
                    姓名：
                    <div class="layui-inline">

                        <input class="layui-input" style="height: 32px;width: 172px;" name="username" id="username" autocomplete="off" placeholder="请输入姓名">
                    </div>
                    手机号码：
                    <div class="layui-inline">

                        <input class="layui-input" style="height: 32px;width: 172px;" name="mobile" id="mobile" autocomplete="off" placeholder="请输入手机号码">
                    </div>
                    &nbsp;
                    用户创建时间:
                    <div class="layui-inline">
                        <input class="layui-input" style="height: 32px; width: 100px;" name="startDate" lay-verify="required" id="startDate" placeholder="开始日期" autocomplete="off" readonly="readonly" th:value="${startDate}">
                    </div>
                    -
                    <div class="layui-inline">
                        <input  class="layui-input" style="height: 32px; width: 100px;" name="endDate" lay-verify="required" id="endDate" placeholder="结束日期" autocomplete="off" readonly="readonly" th:value="${endDate}">
                    </div>
                    &nbsp;
                    <button class="layui-btn layui-btn-sm" data-type="reload" id="search">搜索</button>
                    <button class="layui-btn layui-btn-sm" id="btnCreate">新增用户</button>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test" lay-filter="test">
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script th:src="@{/layuiadmin/lib/jquery.js}"></script><!--min.-->
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layedit', 'laydate', "jquery"], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;
        //日期
        var start = laydate.render({ //开始日期
            elem: '#startDate',
            done: function (value, date) {
                endMax = end.config.max;
                end.config.min = date;
                end.config.min.month = date.month - 1;
            }
        });
        var end = laydate.render({ //结束日期
            elem: '#endDate',
            done: function (value, date) {
                if ($.trim(value) == '') {
                    var curDate = new Date();
                    date = {
                        'date': curDate.getDate(),
                        'month': curDate.getMonth() + 1,
                        'year': curDate.getFullYear()
                    };
                }
                start.config.max = date;
                start.config.max.month = date.month - 1;
            }
        });
    });
    layui.use('table',function () {

        var table = layui.table;

        var tableIns = table.render({
            elem:'#test'
            ,url:'user/userlist'
            ,title:'用户数据表'
            ,cellMinWidth: 80
            ,cols: [
                [
                    {field:'xuhao', title: '序号',type:'numbers'}
                    ,{field: 'username', title: '用户名'}
                    ,{field: 'mobile', title: '手机号码'}
                    ,{field: 'sex', title: '性别'}
                    ,{field: 'createDate', title: '创建时间'}
                    ,{field: 'remark', title: '备注'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo',width:250}
                ]
            ]
            ,page: true
            ,height: 565
            ,id: 'user-table-reload'
            ,where:{name:'[[${username}]]'}
        });

        var active = {
            reload: function(){
                var username = $('#username').val();
                var mobile = $('#mobile').val();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                //执行重载
                table.reload('user-table-reload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        username: username,
                        mobile:mobile,
                        startDate:startDate,
                        endDate:endDate
                    }
                });
            }
        };

        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('#btnCreate').click(function () {
            window.location.href="/user/create"
        });

        table.on('tool(test)', function(obj) {
            var data = obj.data;
            var layEvent = obj.event;
            // 删除
            if (layEvent === 'delete') {
                layer.confirm('确定删除该数据吗？', {
                    btn: ['确定', '再看看']
                    , icon: 3
                }, function (index, layero) {
                    $.ajax({
                        url: '/user/' + data.id + '/delete'
                        , type: 'delete'
                        , success: function (result) {
                            layer.alert(result.msg, {icon: 1});
                            table.reload('user-table-reload', {});
                        }
                        , error: function (msg) {
                            layer.alert(msg, {icon: 2});
                        }
                    });
                });
            }else if(obj.event === 'edit'){
                window.location.href = "/user/"+obj.data.id+"/update";
            }else if(obj.event === 'reset'){
                $.ajax({
                    url: '/user/' + data.id + '/reset'
                    , type: 'get'
                    , success: function (result) {
                        layer.alert(result.msg, {icon: 1});
                        table.reload('user-table-reload', {});
                    }
                    , error: function (msg) {
                        layer.alert(msg, {icon: 2});
                    }
                });
            }
        })
    });




</script>


</body>
</html>